<div class="container">
  <div class="boton">

    <select (change)="pageSizeChangePageSize($event)">
      <option *ngFor="let size of pageSizes" value="{{ size }}">
        {{ size }}
      </option>
    </select>

  </div>

  <div *ngFor="let book of books | paginate : { itemsPerPage: pageSize, currentPage: p}; let i = index">
    <div class="row" *ngIf="book.stock > 0">

      <div class="col-4">
          <img src="assets/images/libroPH.jpg" alt="" width="120" height="150">
      </div>

      <div class="col-8">
        <div class="d-flex">
          <div class="p-2 flex-fill">
            <p class="name" style="margin-bottom: 0%;">{{ book.name }}</p>
            <p class="author" style="margin-bottom: 0%;">{{ book.author }}</p>
          </div>
          <div class="p-2 flex-fill" *ngIf="rol == CUSTOMER">
            <button class="btn btn-primary" style="margin-bottom: 5px;" (click)="compra()">Comprar</button>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-2 flex-fill">
            <textarea class="synopsis" rows="3" readonly>{{ book.synopsis }}</textarea> 
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Ant" nextLabel="Sig" (pageChange)="p = $event"></pagination-controls>
  </div>

</div>