<div class="container" style="margin-top: 61px;">

  <h1 style="text-align: center;">Libreria</h1><br>

  <form (submit)="login(Email.value, Password.value)" #ngLogin (submit)="$event.preventDefault()">
    <!--  (submit)="login($event, Email.value, Password.value)" -->

    <div class="form-group">
      <label for="Email">Email:</label>
      <input type="email" class="form-control" id="Email" name="Email" #Email required >
    </div><br>

    <div class="form-group">
      <label for="Password">Contraseña:</label>
      <input type="password" class="form-control" id="Password" name="Password" #Password required>
    </div>

    <br><p id="error" *ngIf="show">Credenciales incorrectas</p>

    <div class="text-center"><br>
      <button class="btn btn-success" type="submit">Entrar</button>
    </div>

  </form>

  <div class="text-center"><br>
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal"> Crear cuenta </button>
  </div>

  <div class="modal" id="myModal" data-bs-backdrop="false" style="margin-top: 61px;">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Unete a nosotros</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label for="Nombre">Nombre:</label>
              <input type="text" class="form-control" id="Nombre" name="Nombre" #Nombre required>
            </div><br>

            <div class="form-group">
              <label for="Email">Email:</label>
              <input type="email" class="form-control" id="Email" name="Email" #Email required>
            </div><br>
        
            <div class="form-group">
              <label for="Password">Contraseña:</label>
              <input type="password" class="form-control" id="Password" name="Password" #Password required>
            </div>
        
            <div class="text-center"><br>
              <button class="btn btn-success" (click)="createUser($event, Nombre.value, Email.value, Password.value)">Crear cuenta</button>
            </div>

          </form>

        </div>
  
      </div>
    </div>
  </div>

  
  

</div>